<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="preferences" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <div style="text-align: center;">      
      <span id="title" style="margin-right: 50px ;" ><strong>Edit Account</strong></span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <!-- <ion-card-subtitle>Sort By</ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <form [formGroup]="accountInformationForm" style="width: 100%;">
              <ion-item class="input-details">
                <ion-label position="floating">First Name</ion-label>
                <ion-input type="text" formControlName="firstname"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="floating">Last Name</ion-label>
                <ion-input formControlName="lastname"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="floating">Company Name</ion-label>
                <ion-input formControlName="companyName"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="floating">Username</ion-label>
                <ion-input formControlName="username"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="floating">Email</ion-label>
                <ion-input formControlName="email"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="floating">Phone</ion-label>
                <ion-input formControlName="phone"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="floating">Address</ion-label>
                <ion-input formControlName="address"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="floating">City</ion-label>
                <ion-input formControlName="city"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="floating">State</ion-label>
                <ion-input formControlName="state"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="floating">Zip Code</ion-label>
                <ion-input formControlName="zipcode"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="floating">Country</ion-label>
                <ion-input formControlName="country"></ion-input>
              </ion-item>
            </form>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button id="pref" slot="start"  color="dark" (click)="resetForm()">
      Reset
    </ion-button>
    <ion-button slot="end" color="dark" [disabled]="!accountInformationForm.valid" (click)="updateAccountInformation()">
      Update Account
    </ion-button>
  </ion-toolbar>
</ion-footer>