<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="alerts" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <div style="text-align: center;">      
      <span id="title" style="margin-right: 50px ;" ><strong>Filters</strong></span>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Sort By</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group [(ngModel)]="defaultAlertFilterSort" mode="md">
              <ion-item>
                <ion-label><p>All</p></ion-label>
                <ion-radio slot="start" value="None"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label><p>Type - Ascending</p></ion-label>
                <ion-radio slot="start" value="typea"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label><p>Type - Descending</p></ion-label>
                <ion-radio slot="start" value="typed"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label><p>Tracker - Ascending</p></ion-label>
                <ion-radio slot="start" value="trackera"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label><p>Tracker - Descending</p></ion-label>
                <ion-radio slot="start" value="trackerd"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label><p>Date - Ascending</p></ion-label>
                <ion-radio slot="start" value="datea"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label><p>Date - Descending</p></ion-label>
                <ion-radio slot="start" value="dated"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label><p>Location - Ascending</p></ion-label>
                <ion-radio slot="start" value="locationa"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label><p>Location - Descending</p></ion-label>
                <ion-radio slot="start" value="locationd"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Type</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group [(ngModel)]="defaultAlertFilterType" mode="md">
            <ion-item>
              <ion-label class="alerts-label">None</ion-label>
              <ion-radio slot="start" value="none"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label class="alerts-label">Low Battery</ion-label>
                <ion-radio slot="start" value="low_battery"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label class="alerts-label">Trip Finished</ion-label>
                <ion-radio slot="start" value="trid_finished"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label class="alerts-label">Trip Started</ion-label>
                <ion-radio slot="start" value="trip_started"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Tracker</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group [(ngModel)]="defaultFilterTracker" mode="md">
              <ion-item>
                <ion-label><p>All</p></ion-label>
                <ion-radio slot="start" value="any"></ion-radio>
              </ion-item>
              <ion-item *ngFor="let tracker of userTrackers">
                <ion-label><p>{{ tracker.tracker_name }}</p></ion-label>
                  <ion-radio slot="start" [value]="tracker"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Date</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div>
          <ion-label> From :</ion-label>
          <ion-datetime presentation="date" displayFormat="DD/MM/YYYY" placeholder="From Date" id="date-selection" [(ngModel)]="fromDate"></ion-datetime>
        </div>
        <div>
          <ion-label> To :</ion-label>
          <ion-datetime presentation="date" displayFormat="DD/MM/YYYY" placeholder="To Date"  id="date-selection" [(ngModel)]="toDate"></ion-datetime>
        </div>
        </ion-card-content>
      </ion-card>      
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button id="pref" slot="start" color="dark" (click)="resetFilter()">
      Reset
    </ion-button>
    <ion-button slot="end" color="dark" (click)="applyActivityFilters()">
      Apply filters
    </ion-button>
  </ion-toolbar>
</ion-footer>