<ion-header>
  <ion-toolbar>
    <ion-title>Edit User</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/userlist" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="width: 100%;">
  <ion-grid>
    <ion-row style="width: 100%;">
      <ion-card style="width: 100%;">
        <ion-card-content>
          <ion-row>
            <form [formGroup]="accountInformationForm" style="width: 100%;">
              <ion-item class="input-details">
                <ion-label position="stacked">First Name</ion-label>
                <ion-input type="text" formControlName="firstname"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="stacked">Last Name</ion-label>
                <ion-input formControlName="lastname"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="stacked">Company Name</ion-label>
                <ion-input formControlName="companyName"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="stacked">Username</ion-label>
                <ion-input formControlName="username"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="stacked">Email</ion-label>
                <ion-input formControlName="email"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="stacked">Phone</ion-label>
                <ion-input formControlName="phone"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="stacked">Address</ion-label>
                <ion-input formControlName="address"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="stacked">City</ion-label>
                <ion-input formControlName="city"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="stacked">State</ion-label>
                <ion-input formControlName="state"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="stacked">Zip Code</ion-label>
                <ion-input formControlName="zipcode"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="stacked">Country</ion-label>
                <ion-input formControlName="country"></ion-input>
              </ion-item>
            </form>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
   
    <ion-button slot="end" color="dark" [disabled]="!accountInformationForm.valid" (click)="updateAccountInformation()">
      Update User
    </ion-button>
  </ion-toolbar>
</ion-footer>