.header-div {
  width: 100%;
  height: 48px;
}
.header-div span {
  display: inline-block;
}

.header-div > span {
  float: left;
}

.header-title {
  width: 70%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0px;
}

.back-span > ion-buttons {
  float: left;
  display: inline-block;
}

.mapDiv {
  height: 280px;
  margin: 0 10px;
}

.direction-btn-text {
  margin-left: 5px;
}

.main-details-button-div ion-button {
  text-transform: none !important;
  margin-right: 12px;
}

.main-details-div {
  width: 100%;
  text-align: center;
}

// .details-div{
//     text-align: center;
// }

.avtar-div {
  display: inline-block;
}

.tracker-information-list {
  width: 100%;
}

.tracker-information-list .tracker-locations-list-item {
  width: 100%;
}

.tracker-locations-list-item .item-div {
  width: 100%;
}

.tracker-locations-list-item .name {
  float: left;
}

.tracker-locations-list-item .value {
  float: right;
}

.f-left {
  text-align: left;
}

.details-information {
  width: 80%;
  margin: 0 auto;
  white-space: normal;
}

.avtar-div {
  margin: 5px 0px;
}

.ios.button.show-back-button {
  margin-top: 5px;
}

ion-header.ios.header-ios.header-collapse-none.hydrated {
  margin-top: 10px;
}
