<ion-header>
  <ion-row class="header-row">
    <div class="header-div">
      <span class="back-span">
        <ion-buttons>
          <ion-back-button defaultHref="time-machine"></ion-back-button>
        </ion-buttons>
      </span>
      <span class="header-title" *ngIf="selectedPoint">
        {{selectedPoint.dateTime}}
      </span>
      <span class="back-span"></span>
    </div>
  </ion-row>
</ion-header>

<ion-content>
  <!-- <ion-row class="header-row">
    <div class="header-div">
      <span class="back-span">
        <ion-buttons>
          <ion-back-button defaultHref="time-machine"></ion-back-button>
        </ion-buttons>
      </span>
      <span class="header-title" *ngIf="selectedPoint">
        {{selectedPoint.dateTime}}
      </span>
      <span class="back-span"></span>
    </div>
  </ion-row> -->

  <ion-row class="ion-padding" *ngIf="selectedPoint">
    <div class="main-details-div" id="mainDivHtml">
      <div class="mapDiv" id="mapDiv">
        map will be loaded here
      </div>
      <div id="detailDiv" class="details-div" [style.display]="imagePrint ? 'block' : 'none'"  style="background: white;">
        <ion-avatar slot="start" class="avtar-div">
          <img class="loc-avtar" [src]="selectedPoint.tracker_icon_url" />
        </ion-avatar>
        <ion-label class="details-information" style="white-space: normal;">
          <div class="tracker-name">
            <strong>tracker Name</strong> : <span> {{selectedPoint.trackerName}}</span>
          </div>
          <div>
            <span style="color: green">Moving at 0 mph</span> 
          </div>
          <div>
            <span class="tracker-name">Address</span> : <span> {{selectedPoint.formatted_address}} </span>
          </div>
          <div>
            <span class="tracker-name">Time</span> : <span>  {{selectedPoint.dateTime}} </span>
          </div>
        </ion-label>
      </div>
    </div>
    <br/>
    <div class="details-div" [style.display]="imagePrint ? 'none' : 'block'"  style="text-align: center; width: 100%;">
      <ion-avatar slot="start" class="avtar-div">
        <img class="loc-avtar" [src]="selectedPoint.tracker_icon_url" />
      </ion-avatar>
      <div class="details-information">
        <div class="f-left">
          <strong>tracker Name</strong> : <span> {{selectedPoint.trackerName}}</span>
        </div>
        <div  class="f-left">
          <strong>Status</strong> : <span> {{selectedPoint.location_type}} </span>
        </div>
        <div class="f-left">
          <strong>Address</strong> : <span> {{selectedPoint.formatted_address}} </span>
        </div>
      </div>
    </div>
    <div class="main-details-button-div" [style.display]="imagePrint ? 'none' : 'block'"  style="text-align: center; width: 100%;" style="text-align: center; width: 100%;">

      <ion-button color="dark" (click)="getDirection()"> 
        <fa-icon  class="tracker-sample-view"  icon="location-dot" style="font-size: 20px; margin-right: 7px;"></fa-icon>
        <span calss="direction-btn-text" >Get Direction </span>
      </ion-button>
      <ion-button color="dark" *ngIf="isMobilePlatform" (click)="shareLocation()"> 
        <fa-icon class="tracker-sample-view" icon="share-square" style="font-size: 20px;"></fa-icon> 
      </ion-button>
    </div>
  </ion-row>
  <hr style="margin: 0px;"/>
  <ion-row *ngIf="selectedPoint" class="ion-padding" [style.display]="imagePrint ? 'none' : 'block'"  style="text-align: center; width: 100%; padding-top: 5px;">
    <ion-list class="tracker-information-list">
      <ion-item class="tracker-locations-list-item">
            <div class="item-div">
              <span class="name">Speed</span>
              <span class="value">{{selectedPoint.moving_at}}</span>
            </div>
        </ion-item>
        <ion-item class="tracker-locations-list-item">
          <div class="item-div">
            <span class="name">Battery</span>
            <span class="value">{{selectedPoint.battery_level}}% <fa-icon class="tracker-sample-view" icon="battery-half" style="font-size: 20px;"></fa-icon> </span>
            <span></span>
          </div>
        </ion-item>
      </ion-list>
  </ion-row>
</ion-content>
