<ion-content class="background"> 
	<div class="title">
        <h2 class="title-spy">
            Spytrack
        </h2>
    </div>
	<ion-slides pager="true" [options]="slideOpts" #regsitrationSlides>
        <ion-slide >
			<div class="bg-form">
				<p>Step 1 of 4 - Contact Info</p>
				<div>
					<p class="form-title">Create an account to activate your device and start tracking</p>
					<p class="form-desc">Already have an account? <a [routerLink]="['/login']">Log in here.</a></p>
				</div>
				<form class="form" [formGroup]="regFormStepOne">
					<ion-item class="rounded">
						<ion-label position="floating">First Name</ion-label>
						<ion-input formControlName="firstname"></ion-input>
					</ion-item>
					<ion-item class="rounded">
						<ion-label position="floating">Last Name</ion-label>
						<ion-input formControlName="lastname"></ion-input>
					</ion-item>
					<ion-item class="rounded">
						<ion-label position="floating">Email</ion-label>
						<ion-input type="email"
						formControlName="email"
						[email]="emailValidation">
						</ion-input>
					</ion-item>
					<ion-item class="rounded">
						<ion-label position="floating">Phone Number</ion-label>
						<ion-input formControlName="phone"></ion-input>
					</ion-item>
					<!-- [disabled]="!regFormStepOne.valid"  -->
					<div style="margin-top: 15px;">
						<ion-button class="button" expand="block" color="secondary" 
						[disabled]="!regFormStepOne.valid"
						(click)="swipeNext()">Next</ion-button>
					</div>
					<div style="margin-top: 15px;">
						<ion-button class="button" expand="block" color="dark" [routerLink]="['/login']" >Cancel</ion-button>
					</div>
				</form>
			</div>
        </ion-slide>
        <ion-slide>
			<div class="bg-form">
				<p>Step 2 of 4 - Address</p>
				<div>
					<p class="form-title">Create an account to activate your device and start tracking</p>
					<p class="form-desc">Already have an account? <a [routerLink]="['/login']">Log in here.</a></p>
				</div>
				<form class="form" [formGroup]="regFormStepTwo">
					<ion-item class="rounded">
						<ion-label position="floating">Address</ion-label>
						<ion-input formControlName="address"></ion-input>
					</ion-item>
					<ion-item class="rounded">
						<ion-label position="floating">City</ion-label>
						<ion-input formControlName="city"></ion-input>
					</ion-item>
					<ion-item class="rounded">
						<ion-label position="floating">State</ion-label>
						<ion-input formControlName="state"></ion-input>
					</ion-item>
					<ion-item class="rounded">
						<ion-label position="floating">Zip Code</ion-label>
						<ion-input formControlName="zipcode"></ion-input>
					</ion-item>
					<ion-item class="rounded">
						<ion-label position="floating">Country</ion-label>
						<ion-input formControlName="country"></ion-input>
					</ion-item>
					<!-- [disabled]="!regFormStepTwo.valid"  -->
					<div style="margin-top: 15px;">
						<ion-button class="button" expand="block" color="secondary" 
						[disabled]="!regFormStepTwo.valid"
						(click)="swipeNext()" >Next</ion-button>
					</div>
					<div style="margin-top: 15px;">
						<ion-button class="button" expand="block" color="dark" (click)="swipePrev()" >Back</ion-button>
					</div>
				</form>
			</div>
        </ion-slide>
        <ion-slide>
			<div class="bg-form">
				<p>Step 3 of 4 - Account Info</p>
				<div>
					<p class="form-title">Create an account to activate your device and start tracking</p>
					<p class="form-desc">Already have an account? <a [routerLink]="['/login']">Log in here.</a></p>
				</div>
				<form class="form" [formGroup]="regFormStepThree" autocomplete="off">
					<ion-item class="rounded">
						<ion-label position="floating">Username</ion-label>
						<ion-input formControlName="username"></ion-input>
					</ion-item>
					<div *ngIf="regFormStepThree.get('username').invalid && 
							regFormStepThree.get('username').errors && 
							(regFormStepThree.get('username').dirty || regFormStepThree.get('username').touched)">
						<small class="text-danger"
							*ngIf="regFormStepThree.get('username').hasError('required')">
							Username is required.
						</small>
					</div>
					<ion-item class="rounded">
						<ion-label position="floating">Pin Code</ion-label>
						<ion-input formControlName="pinCode" name="pinC" autocomplete="off" type="text"></ion-input>
					</ion-item>
					<ion-item class="rounded">
						<ion-label position="floating">Password</ion-label>
						<ion-input type="password" (input)='passwordInputValidation($event)' formControlName="password" name="pd" autocomplete="new-password"></ion-input>
					</ion-item>
					<div *ngIf="(regFormStepThree.get('password').invalid && regFormStepThree.get('password').touched) || regFormStepThree.get('password').dirty">
						<small class="text-danger" *ngIf="regFormStepThree.get('password').errors?.required">Password is required</small><br>
					</div>
					<ion-item class="rounded">
						<ion-label position="floating">Confirm Password</ion-label>
						<ion-input type="password" name="cpd" (input)='cpasswordInputValidation($event)' formControlName="cpassword" autocomplete="off"></ion-input>
					</ion-item>
					<ion-list class="list">
						<ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.minLen"></ion-icon>
						<ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.minLen"></ion-icon>
						<ion-label class="label">Be at least 8 characters long</ion-label><br>

						<ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.number"></ion-icon>
						<ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.number"></ion-icon>
						<ion-label class="label">Have at least one number</ion-label><br>

						<ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.symbol"></ion-icon>
						<ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.symbol"></ion-icon>
						<ion-label class="label">Have at least one symbol</ion-label><br>

						<ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.upperCase"></ion-icon>
						<ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.upperCase"></ion-icon>
						<ion-label class="label">Have at least one capital letter</ion-label><br>
						
						<ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.lowerCase"></ion-icon>
						<ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.lowerCase"></ion-icon>
						<ion-label class="label">Have at least one small letter</ion-label><br>
					</ion-list>
					<!-- [disabled]="!regFormStepThree.valid || !cPasswordVal"  -->
					<div style="margin-top: 15px;">
						<ion-button class="button" expand="block" color="secondary" 
						[disabled]="!regFormStepThree.valid || !cPasswordVal"
						(click)="signUp()" >Sign up for Spytrack</ion-button>
					</div>
					<div style="margin-top: 15px;">
						<ion-button class="button" expand="block" color="dark" (click)="swipePrev()" >Back</ion-button>
					</div>
					<div>
						<p class="terms">By creating an account you agree to the <a href="">Terms</a> and <a href=""> conditions Policy</a></p>
					</div>
					
				</form>
			</div>
        </ion-slide>
		<ion-slide>
			<div class="bg-form">
				<p>Step 4 of 4 - Account Varification</p>
				<div>
					<p class="form-title">Please check you inbox for verify your email id.</p>
					<p class="form-desc">Didn't get an email please click <a href="javascript:;" (click)="resendVarificationEmail()">here</a> to resend the email.</p>
					<p class="form-desc">Already have an account? or verification done ? <a [routerLink]="['/login']">Log in here.</a></p>
				</div>
			</div>
        </ion-slide>
      </ion-slides>
   

</ion-content>