<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="preferences" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <div style="text-align: center;">
      <span id="title" style="margin-right: 50px ;"><strong>Users</strong></span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let user of users">
    <ion-card-content>
      <div style="float: right;">
        <fa-icon icon="edit" style="margin-right: 10px" (click)="editUser(user)"></fa-icon>
        <fa-icon icon="trash" style="margin-right: 10px" (click)="deleteUser(user)"></fa-icon>
      </div>
      <ion-item>
        <span class="label">Name</span>
        <span class="seperator">:</span>
        <span class="value">{{user.full_name}}</span>
      </ion-item>
      <ion-item>
        <span class="label">Email</span>
        <span class="seperator">:</span>
        <span class="value">{{user.email}} </span>
      </ion-item>
      <ion-item>
        <span class="label">Role</span>
        <span class="seperator">:</span>
        <span class="value"> {{user.role}} </span>
      </ion-item>
      <ion-item>
        <span>Status</span>
        <span class="seperator">:</span>
        <span class="value">
          <ion-toggle color="success" [(ngModel)]="user.is_active"></ion-toggle>
        </span>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>