<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="preferences" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <div style="text-align: center;">      
      <span id="title" style="margin-right: 50px ;" ><strong>Settings</strong></span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Time Zone</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item detail button (click)="showPicker()">
        <ion-label>
          {{ selectedTimeZone }}
          <br>
          <p class="button-icons-desc">Select your time zone</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Map Style</ion-card-subtitle>
      <p style="font-size: 12px;">Choose your map style</p>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group [(value)]="defaultMapStyle" mode="md">
          <ion-item style="margin-bottom: 1em;">
            <img src="../../../../assets/maps/light.png"><ion-label>Roadmap</ion-label>
            <ion-radio slot="start" value="roadmap" (ionFocus)="selectedMapType('roadmap')"></ion-radio>
          </ion-item>
          <ion-item style="margin-bottom: 1em;">
            <img src="../../../../assets/maps/satelite.png"><ion-label>Satellite</ion-label>
              <ion-radio slot="start" value="satellite" (ionFocus)="selectedMapType('satellite')"></ion-radio>
          </ion-item>
          <!-- <ion-item style="margin-bottom: 1em;">
            <img src="../../../../assets/maps/satelite.png"><ion-label>Satelite</ion-label>
              <ion-radio slot="start" value="2"></ion-radio>
          </ion-item> -->
          <ion-item style="margin-bottom: 1em;">
            <img src="../../../../assets/maps/terrain.jpg"><ion-label>Hybrid</ion-label>
              <ion-radio slot="start" value="hybrid" (ionFocus)="selectedMapType('hybrid')"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Distance Units</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group [(value)]="defaultDistanceUnit" mode="md">
          <ion-item style="margin-bottom: 1em;">
            <ion-label>Feet</ion-label>
            <ion-radio slot="start" value="Feet" (ionFocus)="selectedDistanceUnit('Feet')"></ion-radio>
          </ion-item>
          <ion-item style="margin-bottom: 1em;">
            <ion-label>Kilometers</ion-label>
              <ion-radio slot="start" value="Km" (ionFocus)="selectedDistanceUnit('Km')"></ion-radio>
          </ion-item>
          <ion-item style="margin-bottom: 1em;">
            <ion-label>Meters</ion-label>
              <ion-radio slot="start" value="M" (ionFocus)="selectedDistanceUnit('M')"></ion-radio>
          </ion-item>
          <ion-item style="margin-bottom: 1em;">
            <ion-label>Miles</ion-label>
              <ion-radio slot="start" value="Miles" (ionFocus)="selectedDistanceUnit('Miles')"></ion-radio>
          </ion-item>
          <ion-item style="margin-bottom: 1em;">
            <ion-label>Yards</ion-label>
              <ion-radio slot="start" value="Yards" (ionFocus)="selectedDistanceUnit('Yards')"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Speed Units</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group [(value)]="defaultSpeedUnit" mode="md">
          <ion-item style="margin-bottom: 1em;">
            <ion-label>km/h</ion-label>
            <ion-radio slot="start" value="kmh" (ionFocus)="selectedSpeedUnit('kmh')"></ion-radio>
          </ion-item>
          <ion-item style="margin-bottom: 1em;">
            <ion-label>mph</ion-label>
              <ion-radio slot="start" value="mph" (ionFocus)="selectedSpeedUnit('mph')"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button id="pref" slot="start" color="dark" (click)="resetForm()">
      Reset
    </ion-button>
    <ion-button slot="end" color="dark" (click)="applyChanges()" >
      Save Changes
    </ion-button>
  </ion-toolbar>
</ion-footer>