#title {
    width: 100%;
    width: 100%;
    margin: 0;
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: bolder;
}

#tracker-history-card {
    width: 100%;
}

img {
    height: 48px;
    margin-right: 1em;
}

.alerts-label {
    font-size: 12px;
}

ion-card {
    width: 100%;
}

.input-details {
    width: 100%;
    border: 2px solid grey;
    border-radius: 15px;
    font-size: 12px;
    margin-bottom: 1em;
}

.bg-form{
    background-color: #ffffff; 
    padding: 25px;
    color: #212529;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}