
<ion-header>
  <ion-toolbar color="white">
    <ion-buttons id="pref" slot="start" (click)="closeModal()" >
      <p style="color: black; font-size: 12px; padding-left: 1em;">Back</p>
    </ion-buttons>
    <p style="width: 100%;" id="title">Activate tracker</p>
  </ion-toolbar>
</ion-header>

<ion-slides pager="true" [options]="slideOpts" #regsitrationSlides>
  <ion-slide [lockSwipes]="true">
    <div class="bg-form">
      <p>Step 1 of 3 - Contact Info</p>
      <div>
        <p class="form-title">Create an account to activate your device and start tracking</p>
        <p class="form-desc">Already have an account? <a [routerLink]="['/login']">Log in here.</a></p>
      </div>
    </div>
    <!-- <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <h3 style="text-align: center; width: 100%; font-size: 18px;">Hi {{ user }}! Let’s set up your tracking device</h3>
        </ion-row>
        <ion-row>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Device Details</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-item class="input-details">
                  <ion-label position="floating" style="color: grey;">Tracking Device IMEI#</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Tracking Purpose</ion-card-subtitle>
              <p style="font-size: 12px;">Tell us how you’ll use the device so that we can tailor the platform to your needs.</p>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-radio-group value="0">
                  <ion-item>
                    <ion-label>Personal Use</ion-label>
                    <ion-radio slot="start" value="0"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Business Use</ion-label>
                    <ion-radio slot="start" value="1"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Customize It</ion-card-subtitle>
              <p style="font-size: 12px;">Make it easy to identify your tracker when you’re logged into the platform.</p>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-item class="input-details">
                  <ion-label position="floating" style="color: grey;">Tracker Name</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-item class="input-details">
                  <ion-list>
            <ion-item>
              <ion-label style="width: 250px;">Select tracker icon</ion-label>
              <ion-select value="navigate" style="width: 150px;">
                <ion-select-option value="navigate"><ion-icon name="navigate"></ion-icon>cat</ion-select-option>
                <ion-select-option value="dog">Dog</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
                </ion-item>
              </ion-row>
              <br>
              <ion-row>
                <h5>How would you like to receive notifications and service communications?</h5>
              </ion-row>
              <ion-row>
              <ion-list>
                <ion-item>
                  <ion-label style="font-size: 12px;" text-wrap>Emails sent to {{ userDetails.email }}</ion-label>
                  <ion-input type="tel"  [(ngModel)]="userDetails.email"></ion-input>
                  <ion-checkbox slot="start" value="0"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label style="font-size: 12px;" text-wrap>SMS text messages at 9167064054</ion-label>
                    <ion-checkbox slot="start" value="1"></ion-checkbox>
                </ion-item>
                </ion-list>
              </ion-row>
            <ion-row>
              <p>I consent to Spytrack's communicating with me by the methods above about my tracker and user account, Spytec should capture and retain a customer’s consent to receive text messages.</p>
            </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-grid>
    </ion-content> -->
  </ion-slide>
    
    <!-- <ion-footer>
      <ion-toolbar>
        <ion-button slot="end" color="dark">
          Activate
        </ion-button>
      </ion-toolbar>
    </ion-footer> -->
</ion-slides>

