<ion-header>
  <ion-toolbar>
    <ion-title>Activities </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons id="filter" slot="end" (click)="presentModal()">
      <ion-icon name="settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content
  *ngIf="selectedTrackerData && selectedTrackerData?.imei; else noTrackerData"
>
  <ion-card style="margin-top: 5px">
    <owl-carousel
      #owlElement
      [options]="slideOptions"
      [carouselClasses]="['owl-theme', 'sliding']"
      *ngIf="activitiesData?.length > 1"
    >
      <div
        class="item custom-owl-item"
        *ngFor="let activityTracker of activitiesData; let index = index"
        (click)="changeSelectedTracker(index)"
      >
        <div style="align-content: center">
          <div>
            <img
              class="tracker-icon-view"
              [src]="activityTracker.tracker_icon_url"
              style="width: 20%; margin: 0 auto; max-width: 50px;"
            />
          </div>
          {{ activityTracker.tracker_name }}
        </div>
      </div>
    </owl-carousel>
  </ion-card>

  <ion-card *ngFor="let activityData of displayActivityData" class="activity">
    <ion-card-header class="activity-header">
      <div>
        <div
          class="activity-header-avatar"
          (click)="activityClicked(activityData)"
        >
          <ion-avatar>
            <img
              *ngIf="activityData.location_type === 'stop'; else trimIcon"
              src="../assets/stop_trip.jpeg"
              width="30px"
              height="30px"
            />
            <ng-template #trimIcon
              ><img src="../assets/trip.jpeg" width="30px" height="30px"
            /></ng-template>
          </ion-avatar>
        </div>
        <div
          class="activity-header-name-div"
          (click)="activityClicked(activityData)"
        >
          <div class="activity-header-type">{{activityData.location_type}}</div>
          <div class="activity-header-name">{{activityData.tracker_name}}</div>
        </div>
        <div class="activity-header-time">
          <span (click)="activityClicked(activityData)">
            {{activityData.time}}</span
          >
          <span
            class="ellipsis-icon-menu"
            (click)="notifications($event,activityData)"
          >
            <fa-icon
              class="tracker-sample-view"
              icon="ellipsis"
              style="margin-right: 10px"
            ></fa-icon>
          </span>
        </div>
      </div>
    </ion-card-header>
    <div style="clr: both"></div>
    <ion-card-content
      *ngIf="activityData?.locations.length > 0"
      class="activity-card-content"
      (click)="activityClicked(activityData)"
    >
      <div class="activity-content-avatar">
        <ion-avatar>
          <img
            *ngIf="activityData.location_type === 'stop'; else locIcon"
            src="../assets/stop_point_map.jpeg"
            width="30px"
            height="30px"
            style="width: 22px"
          />
          <ng-template #locIcon
            ><img src="../assets/start_start.jpeg" width="30px" height="30px"
          /></ng-template>
        </ion-avatar>
      </div>
      <div class="activity-location">
        <div class="activity-location-1">
          {{activityData.locations[0].formatted_address.split(",")[0]}}
        </div>
        <div class="activity-location-2">
          {{activityData.locations[0].formatted_address.split(",")[1]}},{{activityData.locations[0].formatted_address.split(",")[2]}}
        </div>
      </div>
      <div class="activity-content-time-div">
        <div class="activity-content-time">
          {{activityData.locations[0].timestamp | dateTras | date :
          'shortTime'}}
        </div>
        <div class="activity-content-date">
          {{activityData.locations[0].timestamp | dateTras | date: dateF}}
        </div>
      </div>
    </ion-card-content>
    <ion-card-content
      *ngIf="activityData?.locations.length > 1"
      class="activity-card-content"
    >
      <div class="activity-content-avatar">
        <ion-avatar>
          <img src="../assets/stop_end.jpeg" width="30px" height="30px" />
        </ion-avatar>
      </div>
      <div class="activity-location">
        <div class="activity-location-1">
          {{activityData.locations[activityData.locations.length -
          1].formatted_address.split(",")[0]}}
        </div>
        <div class="activity-location-2">
          {{activityData.locations[activityData.locations.length -
          1].formatted_address.split(",")[1]}},{{activityData.locations[0].formatted_address.split(",")[2]}}
        </div>
      </div>
      <div class="activity-content-time-div">
        <div class="activity-content-time">
          {{activityData.locations[activityData.locations.length - 1].timestamp
          | dateTras | date : 'shortTime'}}
        </div>
        <div class="activity-content-date">
          {{activityData.locations[activityData.locations.length - 1].timestamp
          | dateTras | date : dateF}}
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="displayActivityData.length <= 0" class="activity">
    <ion-card-content> No alerts found on this tracker for this filter.</ion-card-content>
  </ion-card>

  <ion-row>
    <ion-button
      class="load-more-btn"
      color="dark"
      *ngIf="!isAllRecordLoaded"
      (click)="loadMoreData()"
    >
      Load more
    </ion-button>
  </ion-row>

  <!-- <ion-grid>
    <ion-row>
      <h4>No activities found</h4>
    </ion-row>
    <ion-row>
      <ion-button color="dark" expand="block" style="width: 100%;" (click)="presentModal()">Change filter</ion-button>
    </ion-row>
  </ion-grid> -->
</ion-content>

<ng-template #noTrackerData>
  <ion-grid>
    <ion-row>
      <span>No Trackers found for this filter.</span>
    </ion-row>
  </ion-grid>
</ng-template>
