ion-card {
   // width: 100%;
    margin-bottom: 3em;
    margin-top: 3em;
}

ion-card-subtitle {
    text-align: center;
    font-size: 2.5em;
}

ion-card-title {
    text-align: center;
}

ion-card-content {
    text-align: center;
}