#map {
    height: 100%;
}

#pref {
    font-size: 1.5em;
    padding-right: 10px;
}
#wrapper {
    position: relative;
}
.over_map { 
    left: 10%;
    right: 10%;
    position: absolute;
    z-index: 99;
}

#filterStatus {
    font-size: 18px;
    padding-right: 1em;
}

.new-background-color{
    --background: #E7F7FA;
}
p:hover {
  background-color: #F3F3F3;
}

.spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 ion-spinner {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #222;
 }

 .over_map_below {
    left: 10%;
    right: 10%;
    position: absolute;
    z-index: 99;
    bottom: 25px;
    max-height: 225px;
    height: 225px;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
 }

 .tracker-sample-view {
    color: white;
    font-size: 50px;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em; 
}


.custom-owl-item {
    text-align: center !important;
    box-shadow: 2px 0 5px -2px 
}
