<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons id="pref" slot="end" (click)="presentModal()">
      <p id="filterStatus">{{ dataFilterHours }}</p>
      <ion-icon name="settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="wrapper">
  <div class="spin" *ngIf="!dataLoad">
    <ion-spinner name="lines"></ion-spinner>
  </div>
  <ion-card
    class="ion-text-center over_map"
    *ngIf="!hasTracker && dataLoad && !hasTrackerActivity"
  >
    <ion-card-header>
      <ion-card-title>Activate a Tracker</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Add a tracker to enjoy the full Spytrack GPS<br />
      experience.
      <br />
      <br />
      <ion-grid>
        <ion-row>
          <ion-col (click)="redirectActivate()">
            <p style="color: deepskyblue; font-weight: 800">
              Purchase a tracker
            </p>
          </ion-col>
          <ion-col [routerLink]="['/activation']">
            <p style="color: darkgreen; font-weight: 800">Activate a tracker</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card
    class="ion-text-center over_map"
    *ngIf="!hasTrackerActivity && dataLoad && hasTracker"
  >
    <ion-card-header>
      <ion-card-title>No tracker activity found</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Drive around your tracker to get the best experience. <br />
      <br />
      <br />
    </ion-card-content>
  </ion-card>
  <ion-card
    class="ion-text-center over_map_below"
    *ngIf="dataLoad && hasTracker"
  >
    <!-- <ion-segment [(ngModel)]="trackerImeiSelected" mode="md">
      <ion-segment-button value="friends" value="{{tracker.imei}}" *ngFor="let tracker of selectedTrackers; let i = index" (click)="showTrackerDetails(tracker); liveTrack(tracker.imei)">
        <ion-label>{{ tracker.tracker_name }}</ion-label>
      </ion-segment-button>
    </ion-segment> -->

    <owl-carousel
      #owlElement
      [options]="slideOptions"
      style="box-shadow: 2px 0 5px -2px"
      [carouselClasses]="['owl-theme', 'sliding']"
      *ngIf="selectedTrackers?.length > 0"
    >
      <div
        class="item custom-owl-item"
        *ngFor="let activityTracker of selectedTrackers; let index = index"
        (click)="showTrackerDetails(activityTracker); liveTrack(activityTracker.imei)"
      >
        <div style="align-content: center">
          <div>
            <img
              class="tracker-icon-view"
              [src]="activityTracker.tracker_icon_url"
              style="width: 20%; margin: 0 auto; max-width: 50px"
            />
          </div>
          {{ activityTracker.tracker_name }}
        </div>
      </div>
    </owl-carousel>
    <ion-card-header
      *ngIf="trackerDetails"
      style="text-align: center; padding: 5px 5px"
    >
      <!-- <fa-icon (click)="recenterToMarker()" class="tracker-sample-view" [icon]="trackerDetails.tracker_icon" style="font-size: 20px; background-color: {{ trackerDetails.tracker_icon_color }}"></fa-icon> -->
      <img
        class="tracker-icon-view"
        (click)="recenterToMarker()"
        [src]="trackerDetails.tracker_icon_url"
        style="width: 20%; margin: 0 auto; max-width: 50px"
      />
    </ion-card-header>
    <ion-card-content style="text-align: left; overflow-y: auto">
      <h2>{{ trackerDetails.description }}</h2>
      <h2>{{ trackerDetails.complete_address }}</h2>
      <p *ngIf="trackerDetails.last_location.length != 0">
        {{ trackerDetails.last_location[0].time_diff }}
      </p>
      <p *ngIf="trackerDetails.last_location.length == 0">
        No registered activity
      </p>
      <p>Battery level: {{ trackerDetails.battery_level }}%</p>
    </ion-card-content>
  </ion-card>
  <div #map id="map" [style.display]="displayMap ? 'block' : 'none'"></div>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="startTrack()" *ngIf="!startTracking && hasTracker" color="danger">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="stopTrack()" *ngIf="startTracking" color="danger">
      <ion-icon name="stop"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
