<ion-header>
  <ion-toolbar>
    <ion-title>User List</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: end;"> 
    <ion-button (click)="addUser()" color="dark">
      <fa-icon icon="add"  (click)="addUser()"></fa-icon>
    </ion-button> 
  </div>
 
  <div>
  <ion-card *ngFor="let user of users">
    <ion-card-content>
      <div style="float: right;">
        <fa-icon icon="edit" style="margin-right: 10px" (click)="editUser(user)"></fa-icon>
        <fa-icon icon="trash" style="margin-right: 10px" (click)="deleteUser(user)"></fa-icon>
      </div>
      <ion-item>
        <span class="label">Name</span>
        <span class="seperator">:</span>
        <span class="value">{{user.full_name}}</span>
      </ion-item>
      <ion-item>
        <span class="label">Email</span>
        <span class="seperator">:</span>
        <span class="value">{{user.email}} </span>
      </ion-item>
      <ion-item>
        <span class="label">Role</span>
        <span class="seperator">:</span>
        <span class="value"> {{user.role}} </span>
      </ion-item>
      <ion-item>
        <span>Status</span>
        <span class="seperator">:</span>
        <span class="value">
          <ion-toggle color="success" (click)="changeUserStatus($event,user)" [(ngModel)]="user.is_active"></ion-toggle>
        </span>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
