.activity-header{
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    height: 60px;
    margin: 2px 10px;
}

.activity-header-avatar {
    float: left;
}

.activity-header-avatar ion-avatar {
    width: 40px;
}

.activity-header-avatar img {
    width: 30px;
    height: 30px;
}

.activity-header-name-div {
    float: left;
}

.activity-header-type {
    font-weight: 850;
    text-transform: capitalize;
    color: #000;
}


.activity-header-time {
    float: right;
    color: #000;
}


.activity-content-avatar {
    //display: inline-block;
    float: left;
}

.activity-location {
    float: left;
}

.activity-content-time-div {
    float: right;
    text-align: right;
}

.activity-content-avatar ion-avatar {
    width: 40px;
    height: 50px;
}

.activity-content-avatar img {
    width: 30px;
    height: 30px;
}


.activity-card-content {
    display: inline-block;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.activity-header-distance {
    margin-right: 10px;
}

.ellipsis-icon-menu {
    margin-left: 8px;
}

.activity-location-1{
    color: #000
}

.activity-content-time {
    color: #000;
}

#activityDetailMapDiv{
    // height: 360px;
}