<ion-header id="header-a-d" >
  <ion-toolbar>
    <ion-title>Activities </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="activities"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="activityData && activityData?.id" [style.opacity]="this.isDisplay ? 1 : 0">

  <div class="activityDetailMapDiv" id="activityDetailMapDiv" [style.height]="mapHeight">
 
  </div>
  <ion-card  class="activity" id="detail-card-a-d">
    <ion-card-header class="activity-header">
     <div>
       <div class="activity-header-avatar">
         <ion-avatar>
           <img *ngIf="activityData.location_type === 'stop'; else trimIcon" src="../assets/stop_trip.jpeg" width="30px" height="30px"/>
           <ng-template #trimIcon><img src="../assets/trip.jpeg" width="30px" height="30px"/></ng-template>
         </ion-avatar>
       </div>
       <div class="activity-header-name-div">
         <div class="activity-header-type"> {{activityData.location_type}}</div>
         <div class="activity-header-name"> {{activityData.tracker_name}} </div>
       </div>
       <div class="activity-header-time">
         <span> {{activityData.time}}</span>
         <span class="ellipsis-icon-menu" (click)="notifications($event)"> <fa-icon  class="tracker-sample-view" icon="ellipsis" style="margin-right: 10px;"></fa-icon> </span>
       </div>
     </div>
   </ion-card-header> 
   <div style="clr: both"></div>
   <ion-card-content *ngIf="activityData?.locations.length > 0" class="activity-card-content">
     <div class="activity-content-avatar">
       <ion-avatar>
        <img *ngIf="activityData.location_type === 'stop'; else locIcon" src="../assets/stop_point_map.jpeg" width="30px" height="30px" style="width: 22px;"/>
        <ng-template #locIcon><img src="../assets/start_start.jpeg" width="30px" height="30px"/></ng-template>
       </ion-avatar>
     </div>
     <div class="activity-location">
       <div class="activity-location-1">
        {{activityData.locations[0].formatted_address.split(",")[0]}}
       </div>
       <div class="activity-location-2">
        {{activityData.locations[0].formatted_address.split(",")[1]}},{{activityData.locations[0].formatted_address.split(",")[2]}}
       </div>
     </div>
     <div class="activity-content-time-div">
       <div class="activity-content-time">
        {{activityData.locations[0].timestamp| dateTras | date : 'shortTime'}}
       </div>
       <div class="activity-content-date">
        {{activityData.locations[0].timestamp| dateTras | date: dateF}}
       </div>
     </div>
   </ion-card-content>
   <ion-card-content *ngIf="activityData?.locations.length > 1" class="activity-card-content">
    <div class="activity-content-avatar">
      <ion-avatar>
        <img src="../assets/stop_end.jpeg" width="30px" height="30px"/>
      </ion-avatar>
    </div>
    <div class="activity-location">
      <div class="activity-location-1">
       {{activityData.locations[activityData.locations.length - 1].formatted_address.split(",")[0]}}
      </div>
      <div class="activity-location-2">
       {{activityData.locations[activityData.locations.length - 1].formatted_address.split(",")[1]}},{{activityData.locations[0].formatted_address.split(",")[2]}}
      </div>
    </div>
    <div class="activity-content-time-div">
      <div class="activity-content-time">
       {{activityData.locations[activityData.locations.length - 1].timestamp| dateTras | date : 'shortTime'}}
      </div>
      <div class="activity-content-date">
       {{activityData.locations[activityData.locations.length - 1].timestamp| dateTras | date : dateF}}
      </div>
    </div>
  </ion-card-content>
 </ion-card>
</ion-content>