<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="activities" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <div style="text-align: center;">      
      <span id="title" style="margin-right: 50px ;" ><strong>Filters</strong></span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="dataLoad">
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-header style="padding: 5px 15px;">
          <ion-card-subtitle>Activity Type</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group [(ngModel)]="defaultFilterType" mode="md">
              <ion-item>
                <ion-label><p>All</p></ion-label>
                <ion-radio slot="start" value="all"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label><p>Stop</p></ion-label>
                  <ion-radio slot="start" value="stop"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label><p>Trip</p></ion-label>
                  <ion-radio slot="start" value="trip"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header style="padding: 5px 15px;">
          <ion-card-subtitle>Select Tracker</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group [(ngModel)]="defaultFilterTracker" mode="md">
              <ion-item>
                <ion-label><p>All</p></ion-label>
                <ion-radio slot="start" value="all"></ion-radio>
              </ion-item>
              <ion-item *ngFor="let tracker of userTrackers">
                <ion-label><p>{{ tracker.tracker_name }}</p></ion-label>
                  <ion-radio slot="start" [value]="tracker"></ion-radio>
              </ion-item>
              <!-- <ion-item>
                <ion-label><p>Tracker 2</p></ion-label>
                  <ion-radio slot="start" value="tracker2"></ion-radio>
              </ion-item> -->
            </ion-radio-group>
          </ion-list>
          <ion-row>
            <ion-col>
                <ion-datetime presentation="date" displayFormat="DD/MM/YYYY" placeholder="From" id="date-selection" [(ngModel)]="fromDate"></ion-datetime>
            </ion-col>
            <ion-col>
              <ion-datetime presentation="date" displayFormat="DD/MM/YYYY" placeholder="To" id="date-selection" [(ngModel)]="toDate"></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button id="pref" slot="start" color="dark" (click)="resetFilter()">
      Reset
    </ion-button>
    <ion-button slot="end" color="dark" (click)="applyActivityFilters()">
      Apply filters
    </ion-button>
  </ion-toolbar>
</ion-footer>