<ion-header>
  <ion-toolbar>
    <ion-title>Preferences</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card class="ion-text-center" >
        <ion-card-header>
          <ion-card-title class="username-prefrence">{{user.firstname}} {{user.lastname}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p id="contact-details"><ion-icon name="call"></ion-icon> {{ user.phone }}</p>
          <p id="contact-details"><ion-icon name="mail"></ion-icon> {{ user.email }}</p>
          <ion-button shape="round" color="dark" (click)="openEditAccountModal()">Edit Account</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card class="ion-text-center">
        <ion-card-content>
          <ion-item detail button (click)="openEditAlertNotificationModal()">
            <ion-icon class="button-icons" name="notifications"></ion-icon>
            <ion-label>
              Alert and Notification
              <br>
              <p class="button-icons-desc">Alerts and Notifications</p>
            </ion-label>
            <br>
          </ion-item>
          <!-- <ion-item detail button (click)="openAlertNotificationRecipient()">
            <ion-icon class="button-icons" name="notifications"></ion-icon>
            <ion-label>
              Alert/Notification Recipients
              <br>
              <p class="button-icons-desc">Alerts/Notifications recipients</p>
            </ion-label>
            <br>
          </ion-item> -->
          <ion-item detail button (click)="openEditUsersModal()">
          <ion-icon class="button-icons" name="people"></ion-icon>
            <ion-label>
              Users
              <br>
              <p class="button-icons-desc">Manage Users</p>
            </ion-label>
          </ion-item>
          <ion-item detail button (click)="openEditTrackersModal()">
            <ion-icon class="button-icons" name="people"></ion-icon>
            <ion-label>
              Trackers
              <br>
              <p class="button-icons-desc">Change your tracker name icon color</p>
            </ion-label>
          </ion-item>
          <ion-item detail button (click)="openEditSettingModal()">
            <ion-icon class="button-icons" name="settings"></ion-icon>
            <ion-label>
              Settings
              <br>
              <p class="button-icons-desc">Change your map style, time zone</p>
            </ion-label>
          </ion-item>
          <ion-item detail button (click)="openEditChangePasswordModal()">
            <ion-icon class="button-icons" name="key"></ion-icon>
            <ion-label>
              Change Password
              <br>
              <p class="button-icons-desc">Change your password</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
