ion-card{
    width: 100%;
}

ion-card-title {
    text-align: center;
}

ion-card-content {
    text-align: center;
}

#contact-details {
    font-size: 12px;
    font-weight: bold;
}

.button-icons {
    margin-right: 1em;
}

.button-icons-desc {
    font-size: 12px
}

ion-label {
    font-weight: 700;
}

.username-prefrence{
    text-transform: capitalize;
}