<ion-header>
  <ion-toolbar>
    <ion-title>Recipient List</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: end;"> 
    <ion-button (click)="addRecipient()" color="dark">
      <fa-icon icon="add"  (click)="addRecipient()"></fa-icon>
    </ion-button> 
  </div>
 
  <div>
  <ion-card *ngFor="let recipient of recipients">
    <ion-card-content>
      <div style="float: right;">
        <fa-icon icon="edit" style="margin-right: 10px" (click)="editRecipient(recipient)"></fa-icon>
        <fa-icon icon="trash" style="margin-right: 10px" (click)="deleteRecipient(recipient)"></fa-icon>
      </div>
      <ion-item>
        <span class="label">Type</span>
        <span class="seperator">:</span>
        <span class="value">{{recipient.type}}</span>
      </ion-item>
      <ion-item>
        <span class="label">Value</span>
        <span class="seperator">:</span>
        <span class="value">{{recipient.value}} </span>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
