<ion-content class="background">
	<div class="title">
    <div class="header-text">
      <h3 class="title">Welcome to Spytrack</h3>
      <div class="sub-title">Let's get tracking</div>
    </div>
    </div>

    <div id="container" *ngIf="!userIsInactivate">
      <ion-item id="rounded">
        <!-- <ion-label position="floating">Username or Email</ion-label> -->
        <ion-input class="input" [(ngModel)]="username" autocomplete="new-username" placeholder="Email" style="text-align: center;"></ion-input>
      </ion-item>
      <ion-item id="rounded">
        <!-- <ion-label position="floating">Password</ion-label> -->
        <ion-input type="password" [(ngModel)]="password" autocomplete="new-password" placeholder="Password" style="text-align: center;"></ion-input>
      </ion-item>
      <section class="ion-btn">
        <ion-button type="submit" class="btn-login" expand="block" color="secondary"  (click)="login()">Login</ion-button>
      </section>
        <div class="list">
            <p [routerLink]="['/registration']">New to Spytrack?</p>
            <p [routerLink]="['/login/forgot-password']">Forgot Password?</p>
        </div>
    </div>

    <div id="container" *ngIf="userIsInactivate">
      <div style="color: white">
        <p class="form-title">Please check you inbox for verify your email id.</p>
        <p class="form-desc">Didn't get an email please click <a href="javascript:;" (click)="resendVarificationEmail()">here</a> to resend the email.</p>
        <p class="form-desc">Already have an account? or verification done ? </p>
      </div>
      <div style="text-align: center;">
        <ion-button (click)="userIsInactivate = false" color="light"> Back </ion-button>
      </div>
    </div>
</ion-content>
