ion-content.background {
    --ion-background-color: #181C32;
}

ion-item {
    --ion-background-color: #fff;
}

.title {
    color: #fff;
    text-align: center;
    margin-top: 170px;
    margin-bottom: 30px;
    font-weight: bolder;
}

.title-spy {
    font-weight: bold;
}

#rounded {
    border-radius: 10px;
    margin-bottom: 20px;
}
.input{
    color: black;
}
#container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-top: 1em;
    margin-bottom: 3em;
}

.list {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-top: -20px;
}

.menudiv {
    margin-left: 30px;
}

.btn-login {
    text-transform: none;
    font-weight: bold;
    height: 45px;
    width: 350px;
}
.ion-btn{
    width: 500px;
    display: flex;
}
.my-custom-class {
  --background: #fff;
}

.header-text {
    padding-bottom: 3.25rem;
    .title {
        font-weight: 500;
    }
    .sub-title {
        font-size: 1.35rem;
        font-weight: 500;
    }
}

ion-input{
    --background: #fff !important;
    }

ion-input::shadow{
--background: #fff !important;
}

ion-item::part(native){
--background: #fff !important;
}

