<ion-header>
  <ion-toolbar>
    <ion-title>Boundary</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  We are managing this feature from website.
</ion-content>
