<ion-header>
  <ion-toolbar>
    <ion-title text-wrap><strong>Tracker Activation</strong></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="background"> 
	<!-- <div class="title">
        <h2 class="title-spy">
            Activate a tracker
        </h2>
    </div> -->
	<ion-slides pager="true" [options]="slideOpts" #activationSlides style="height: 100%;">
    <ion-slide>
      <ion-content class="ion-padding">
        <ion-grid>
          <ion-row>
            <h3 style="text-align: center; width: 100%; font-size: 18px;">Hi {{ user }}! Let’s set up your tracking device</h3>
          </ion-row>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Device Details</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-item class="input-details">
                    <ion-label position="floating" style="color: grey;" text-wrap>Tracking Device IMEI#</ion-label>
                    <ion-input [(ngModel)]="tImei" required></ion-input>
                  </ion-item>
                </ion-row>
                <ion-row>
                  <ion-item lines="none">
                    <ion-list style="width: 100%;">
                      <ion-radio-group [(ngModel)]="tPurpose" mode="md">
                        <ion-list-header>
                          <ion-label text-wrap>
                            Tracking Purpose
                          </ion-label>
                        </ion-list-header>
                        <ion-item lines="none">
                          <ion-label text-wrap>Personal Use</ion-label>
                          <ion-radio slot="start" value="personal"></ion-radio>
                        </ion-item>
                        <ion-item lines="none">
                          <ion-label text-wrap>Business Use</ion-label>
                          <ion-radio slot="start" value="business"></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                    </ion-list>
                  </ion-item>
                </ion-row>
                <ion-row>
                  <ion-item class="input-details">
                    <ion-label position="floating" style="color: grey;">Tracker Name</ion-label>
                    <ion-input [(ngModel)]="tName" required></ion-input>
                  </ion-item>
                </ion-row>
                <ion-row>
                  <ion-item class="input-details">
                    <ion-label position="floating" style="color: grey;">Tracker Description</ion-label>
                    <ion-input [(ngModel)]="tDescription" required></ion-input>
                  </ion-item>
                </ion-row>
              </ion-card-content>
              <div style="margin-top: 15px; margin-bottom: 15px;">
                <ion-button class="button" color="dark" (click)="activateTracker()" [disabled]="tImei == '' || tName == ''">Activate</ion-button>
              </div>
            </ion-card>
        </ion-grid>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content class="ion-padding">
        <ion-grid>
          <!-- <ion-row>
            <h3 style="text-align: center; width: 100%; font-size: 18px;">Setting up your device ......</h3>
          </ion-row> -->
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle *ngIf="status == 'wait'">Please wait while we set up your device  ... </ion-card-subtitle>
                <ion-card-subtitle *ngIf="status == 'failed'">Error occured while activating your tracker</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-spinner name="lines" *ngIf="showSpinner"></ion-spinner>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <div style="margin-top: 15px; margin-bottom: 15px;" *ngIf="status == 'failed'">
                        <ion-button expand="full" class="button" color="dark" (click)="swipePrev(); status = 'wait'">Back</ion-button>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div style="margin-top: 15px; margin-bottom: 15px;" *ngIf="status == 'failed'">
                        <ion-button expand="full" class="button" color="dark" (click)="status = 'wait'; retryActivate()" [disabled]="tImei == '' || tName == ''">Retry</ion-button>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <!-- <ion-item lines="none">
                  <ion-label text-wrap style="opacity: 1;">Setting up admin</ion-label>
                  <ion-checkbox disabled="true" [(ngModel)]="isCheckedAdmin"></ion-checkbox>
                </ion-item>
                <ion-item lines="none">
                  <ion-label text-wrap style="opacity: 1;">Setting up APN</ion-label>
                  <ion-checkbox disabled="true" [(ngModel)]="isCheckedAPN"></ion-checkbox>
                </ion-item>
                <ion-item lines="none">
                  <ion-label text-wrap style="opacity: 1;">Setting up IP</ion-label>
                  <ion-checkbox disabled="true" [(ngModel)]="isCheckedIP"></ion-checkbox>
                </ion-item>
                <ion-item lines="none">
                  <ion-label text-wrap style="opacity: 1;">Setting up Domain</ion-label>
                  <ion-checkbox disabled="true" [(ngModel)]="isCheckedDomain"></ion-checkbox>
                </ion-item>
                <ion-item lines="none">
                  <ion-label text-wrap style="opacity: 1;">Setting up Pulse</ion-label>
                  <ion-checkbox disabled="true" [(ngModel)]="isCheckedPulse"></ion-checkbox>
                </ion-item>
                <ion-item lines="none">
                  <ion-label text-wrap style="opacity: 1;">Setting up Upload Frequency</ion-label>
                  <ion-checkbox disabled="true" [(ngModel)]="isCheckedUpload"></ion-checkbox>
                </ion-item>
                <ion-item lines="none">
                  <ion-label text-wrap style="opacity: 1;">Turning off sleep mode</ion-label>
                  <ion-checkbox disabled="true" [(ngModel)]="isCheckedSleep"></ion-checkbox>
                </ion-item> -->
              </ion-card-content>
            </ion-card>
          </ion-grid>
        </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content class="ion-padding">
        <ion-grid>
          <!-- <ion-row>
            <h3 style="text-align: center; width: 100%; font-size: 18px;">Setting up your device ......</h3>
          </ion-row> -->
          <h1>Tracker has been activated succesfully.</h1>
          <br>
          <h2>Proceed to <a [routerLink]="['/live-tracking']"> live tracking now. </a></h2>
          <h2>Activate <a (click)="swipeInit(0)" > another tracker. </a></h2>
            <!-- <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Please wait while we set up your device  ...</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card> -->
          </ion-grid>
        </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>