<ion-content class="background" *ngIf="!isUserExistConfirm; else confirmUserExist;">
	<div class="title">
      	<span>Enter your email to reset your password</span>
    </div>
    <div id="container">
      <form class="form" [formGroup]="forgotPasswordFormStepOne">
        <ion-item id="rounded">
          <ion-input class="input" placeholder="Email" autocomplete="off" formControlName="email" type="email" [email]="emailValidation" ></ion-input>
        </ion-item>
        <div style="text-align: center;">
          <ion-button class="btn-cancel" color="medium" size="large" [routerLink]="['/login']">Cancel</ion-button>
			    <ion-button color="secondary" size="large" [disabled]="!forgotPasswordFormStepOne.valid"  (click)="checkUserExist()">Submit</ion-button>
        </div>
      </form>
    </div>
</ion-content>

<ng-template #confirmUserExist>
  <ion-content class="background" >
      <div style="max-width: 350px; margin-left: auto; margin-right: auto; margin-top: 20px;" class="title">
          <span>Enter your one time password which you received into your registered mobile number</span> 
      </div>
      <div style="max-width: 350px; margin-left: auto; margin-right: auto;"> <a href="javascript:;" (click)="resendOTP()" style="float: right; margin-right: 10px;">Resend OTP</a> </div>
      <br/>
      <div id="container" style="max-width: 350px; margin-left: auto; margin-right: auto;">
        <form class="form" [formGroup]="forgotPasswordFormStepTwo">
          <ion-item id="rounded">
            <ion-input class="input" placeholder="Verification Code" autocomplete="off" formControlName="otp" type="number" OnlyNumber="true" ></ion-input>
          </ion-item>
          <div *ngIf="forgotPasswordFormStepTwo.get('otp').invalid && 
          forgotPasswordFormStepTwo.get('otp').errors && 
							(forgotPasswordFormStepTwo.get('otp').dirty || forgotPasswordFormStepTwo.get('otp').touched)">
						<small class="text-danger"
							*ngIf="forgotPasswordFormStepTwo.get('otp').hasError('required')">
							OTP is required.
						</small>
            <small class="text-danger"
							*ngIf="forgotPasswordFormStepTwo.get('otp').hasError('min') || forgotPasswordFormStepTwo.get('otp').hasError('max') ">
							OTP should be of 5 digit.
						</small>
					</div>
          <ion-item id="rounded">
            <ion-input class="input" placeholder="New Password" (input)='passwordInputValidation($event)' autocomplete="off"  formControlName="password" type="password" ></ion-input>
          </ion-item>
          <div *ngIf="(forgotPasswordFormStepTwo.get('password').invalid && forgotPasswordFormStepTwo.get('password').touched) || forgotPasswordFormStepTwo.get('password').dirty">
						<small class="text-danger" *ngIf="forgotPasswordFormStepTwo.get('password').errors?.required">Password is required</small><br>
					</div>
          <ion-item id="rounded">
            <ion-input class="input" placeholder="Confirm Password" (input)='cpasswordInputValidation($event)'  autocomplete="off" formControlName="cpassword" type="password" ></ion-input>
          </ion-item>

          <ion-list class="list" style="max-width: 350px; margin-left: auto; margin-right: auto;">
						<ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.minLen"></ion-icon>
						<ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.minLen"></ion-icon>
						<ion-label class="label">Be at least 8 characters long</ion-label><br>

						<ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.number"></ion-icon>
						<ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.number"></ion-icon>
						<ion-label class="label">Have at least one number</ion-label><br>

						<ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.symbol"></ion-icon>
						<ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.symbol"></ion-icon>
						<ion-label class="label">Have at least one symbol</ion-label><br>

						<ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.upperCase"></ion-icon>
						<ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.upperCase"></ion-icon>
						<ion-label class="label">Have at least one capital letter</ion-label><br>
						
						<ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.lowerCase"></ion-icon>
						<ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.lowerCase"></ion-icon>
						<ion-label class="label">Have at least one small letter</ion-label><br>
					</ion-list>
          <div style="text-align: center; margin-top: 10px;">
            <ion-button class="btn-cancel" color="medium" size="large" [routerLink]="['/login']">Cancel</ion-button>
            <ion-button color="secondary" size="large" (click)="resetPassword()" [disabled]="!forgotPasswordFormStepTwo.valid || !cPasswordVal" >Reset Password</ion-button>
          </div>
        </form>
      </div>
  </ion-content>
</ng-template>


