ion-content.background {
    --ion-background-color: #181C32;
}

ion-item {
    --ion-background-color: #fff;
}

.title {
    color: #fff;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 30px;
    font-weight: bolder;
}

#rounded {
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.input{
    height: 65px;
}
#container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
}

.menudiv {
    margin-left: 30px;
}

.btn-login {
    text-transform: none;
    font-weight: bold;
    height: 45px;
    width: 350px;
}
.ion-btn{
    width: 500px;
    display: flex;
}
.my-custom-class {
  --background: #e5e5e5;
}
.btn-cancel{
    --color: #fff;
    --ion-color-contrast: #fff !important;
}

ion-list{
    background: white;
}
