<ion-header>
  <ion-toolbar>
    <ion-title>Invite User</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/userlist" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="width: 100%;">
  <ion-grid>
    <ion-row style="width: 100%;">
      <ion-card style="width: 100%;">
        <ion-card-content>
          <ion-row>
            <form [formGroup]="accountInformationForm" style="width: 100%;">
              <ion-item class="input-details">
                <ion-label position="stacked">First Name</ion-label>
                <ion-input type="text" formControlName="firstname"></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="stacked">Last Name</ion-label>
                <ion-input formControlName="lastname"></ion-input>
              </ion-item>
             
              <ion-item class="input-details">
                <ion-label position="stacked">Email</ion-label>
                <ion-input formControlName="email"></ion-input>
              </ion-item>
             
            </form>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
   
    <ion-button slot="end" color="dark" [disabled]="!accountInformationForm.valid" (click)="inviteUser()">
      Invite User
    </ion-button>
  </ion-toolbar>
</ion-footer>
