.activity-popover-grid {
    text-align: center;
    padding: 0;
}

.activity-popover-card {
    background-color: #efefef;
}

.cell-class {
    border-color: lightgrey; 
    border-width: .01em; 
    border-style:solid; margin-bottom : -1px;
    padding: 12px;
  }