<!-- <ion-list class="ion-no-margin ion-no-padding">  
  <ion-list-header color="dark" class="text-10">  
    <ion-label class="fw700">Notifications</ion-label>  
  </ion-list-header>  

  <ion-item color="secondary" class="text-10">  
    <ion-icon name="mail" color="light"></ion-icon>  
    <ion-label>New Offer 30% OFF</ion-label>  
  </ion-item>  

  <ion-item color="light" class="text-10">  
    <ion-icon name="mail-open" color="primary"></ion-icon>  
    <ion-label>New Offer 15% OFF by month!</ion-label>  
  </ion-item>  

  <ion-item color="secondary" class="text-10">  
    <ion-icon name="mail" color="light"></ion-icon>  
    <ion-label>New Offer 45% OFF</ion-label>  
  </ion-item>  

  <ion-item color="light" class="text-10">  
    <ion-icon name="mail-open" color="primary"></ion-icon>  
    <ion-label>New Offer 25% OFF on Credit Card!</ion-label>  
  </ion-item>  

  <ion-item color="light" class="text-10">  
    <ion-icon name="mail-open" color="primary"></ion-icon>  
    <ion-label>New Offer 20% OFF by month!</ion-label>  
  </ion-item>  
</ion-list>   -->

<ion-card class="activity-popover-card">
  <ion-grid class="activity-popover-grid">
    <ion-row>
      <ion-col  class="cell-class">
        <div>
        <fa-icon  class="tracker-sample-view" icon="diamond-turn-right" style="margin-right: 10px;"></fa-icon>
      </div>
      <div>
        Direction 
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="cell-class" (click)="redirectToStart()" > To Start </ion-col>
      <ion-col  class="cell-class" (click)="redirectToFinish()"> To Finish </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>