<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="preferences" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <div style="text-align: center;">      
      <span id="title" style="margin-right: 50px ;" ><strong>Change Password</strong></span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
     <ion-card>
        <ion-card-content >
            <form [formGroup]="changePasswordForm" style="width: 100%;">
              <ion-item class="input-details">
                <ion-label position="floating">Old password</ion-label>
                <ion-input type="password" formControlName="opassword" ></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="floating">New password</ion-label>
                <ion-input type="password" formControlName="password" (input)='passwordInputValidation($event)'></ion-input>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="floating">Confirm new password</ion-label>
                <ion-input type="password" formControlName="cpassword" (input)='cpasswordInputValidation($event)'></ion-input>
              </ion-item>

              <ion-list class="list" style="max-width: 350px; margin-left: auto; margin-right: auto;">
                <ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.minLen"></ion-icon>
                <ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.minLen"></ion-icon>
                <ion-label class="label">Be at least 8 characters long</ion-label><br>
    
                <ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.number"></ion-icon>
                <ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.number"></ion-icon>
                <ion-label class="label">Have at least one number</ion-label><br>
    
                <ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.symbol"></ion-icon>
                <ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.symbol"></ion-icon>
                <ion-label class="label">Have at least one symbol</ion-label><br>
    
                <ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.upperCase"></ion-icon>
                <ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.upperCase"></ion-icon>
                <ion-label class="label">Have at least one capital letter</ion-label><br>
                
                <ion-icon class="icon" name="checkmark-circle" style="color: green;" *ngIf="passwordVal.lowerCase"></ion-icon>
                <ion-icon class="icon" name="checkmark-circle" *ngIf="!passwordVal.lowerCase"></ion-icon>
                <ion-label class="label">Have at least one small letter</ion-label><br>
              </ion-list>
            </form>
        </ion-card-content>
      </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button id="pref" slot="start"  color="dark" (click)="resetForm()">
      Reset
    </ion-button>
    <ion-button slot="end" color="dark" [disabled]="!changePasswordForm.valid || !cPasswordVal" (click)="changePasswordInitiate()">
      Change Password
    </ion-button>
  </ion-toolbar>
</ion-footer>