#title {
    width: 100%;
    width: 100%;
    margin: 0;
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: bolder;
    color: white;
}

#tracker-history-card {
    width: 100%;
}

img {
    height: 48px;
    margin-right: 1em;
}

.alerts-label {
    font-size: 12px;
}

.back-btn {
    color: black;
    font-size: 12px;
    padding-left: 1em;
}

ion-grid {
    --ion-grid-padding-sm: 20px;
    --ion-grid-padding-md: 30px;
    --ion-grid-padding-lg: 40px;
    --ion-grid-padding-xl: 40px;
}

.tracker-sample-view {
    color: white;
    font-size: 50px;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
}