#date-selection {
    width: 100%;
    border: 1px solid grey;
    border-radius: 18px;
}
.tracker-sample-view {
    // color: white;
    // font-size: 10px;
    // display: inline-block;
    // border-radius: 60px;
    // box-shadow: 0 0 2px #888;
    // padding: 0.5em 0.6em; 
    width: 10%;

}

.tracker-icon-view {
    // color: white;
    // font-size: 50px;
    // display: inline-block;
    // border-radius: 60px;
    // box-shadow: 0 0 2px #888;
    // padding: 0.2em 0.35em; 
    // font-size: 12px; 
    width: 25%;
}

#tmmap{
    height: 360px;
}

.tracker-locations-list {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
    margin-top: 0px;
}

.tracker-section {
    padding: 3px;
}

.tracker-list {
    width: 100%;
    overflow: auto;
    padding: 0px;
    white-space:nowrap;
    margin: 0px;
}

.tracker-list-item {
    display:inline;
    margin: 0 auto;
    float: left;
    padding: 0px 16px;
}

.tracker-name-information-div {
    text-align: center;
}

.custom-owl-item {
    text-align: center !important;
}

hr {
    margin: 0.2rem 0;
}

ion-card.filter-content.ios.hydrated {
    margin: 5px 5px;
}

ion-card-content.filters-card-content.ios.card-content-ios.hydrated {
    padding-bottom: 13px !important;
    padding-top: 13px !important;
}
