<ion-header>
  <ion-toolbar>
    <ion-title><strong>Time Machine</strong></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="dataLoad && (!userTrackers || userTrackers?.length === 0); else hasTracker">
    <ion-grid>
      <ion-row>
        <div style="text-align: center;">You need atleast one tracker to check time machine</div>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ng-template #hasTracker>
    <ion-card class="filter-content" *ngFor="let item of items">
      <ion-card-content class="filters-card-content">
        <ion-card-title (click)="expandItem(item)">Filters</ion-card-title>
  
        <app-expandable expandHeight="370px" [expanded]="item.expanded">
          <br />
          <ion-row>
            <ion-datetime
              placeholder="Select Date"
              display-timezone="utc"
              id="date-selection"
              [(ngModel)]="selectedDate"
            >
            </ion-datetime>
          </ion-row>
          <ion-row>
            <ion-col style="padding-left: 0px">
              <ion-datetime
                displayFormat="h:mm a"
                placeholder="Select Start Time"
                id="date-selection"
                [(ngModel)]="selectedStartTime"
              ></ion-datetime>
            </ion-col>
            <ion-col style="padding-right: 0px">
              <ion-datetime
                displayFormat="h:mm a"
                placeholder="Select End Time"
                id="date-selection"
                [(ngModel)]="selectedEndTime"
              ></ion-datetime>
            </ion-col>
          </ion-row>
          <ion-list>
            <ion-radio-group mode="md">
              <ion-item>
                <ion-label><p>All</p></ion-label>
                <ion-radio
                  slot="start"
                  value="All"
                  (ionFocus)="selectTracker('All')"
                ></ion-radio>
              </ion-item>
              <ion-item *ngFor="let tracker of userTrackers">
                <ion-label><p>{{ tracker.tracker_name }}</p></ion-label>
                <ion-radio
                  slot="start"
                  [value]="tracker"
                  (ionFocus)="selectTracker(tracker)"
                ></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <br />
          <ion-row>
            <ion-button
              (click)="expandItem(item)"
              color="dark"
              expand="block"
              style="width: 100%"
              (click)="applyFilter()"
              [(disabled)]="!selectedDate || !selectedStartTime || !selectedEndTime || !selectedTracker"
              >Go back in time</ion-button
            >
          </ion-row>
        </app-expandable>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div #tmmap id="tmmap" [style.display]="displayMap ? 'block' : 'none'">
        No location found for this tracker
      </div>
    </ion-card>
    <div>
      <div></div>
      <ion-row [style.display]="displayMap ? 'block' : 'none'">
        <ion-card>
          <ion-card-content class="tracker-section">
            <ion-row>
              <owl-carousel
                #owlElement
                [options]="slideOptions"
                [carouselClasses]="['owl-theme', 'sliding']"
                *ngIf="filteredTrackerResult.length !== 0; else noTrackers"
              >
                <div
                  class="item custom-owl-item"
                  *ngFor="let filteredTracker of filteredTrackerResult; let index = index"
                  (click)="changeSelectedTracker(index)"
                >
                  <div style="align-content: center">
                    <div>
                      <img
                        class="tracker-icon-view"
                        [src]="filteredTracker.tracker_icon_url"
                        style="width: 20%; margin: 0 auto; max-width: 50px;"
                      />
                    </div>
                    {{ filteredTracker.tracker_name }}
                  </div>
                </div>
              </owl-carousel>
            </ion-row>
            <hr />
            <ion-row
              *ngIf="selectedTrackerData && selectedTrackerData.locations; else noTrackerActivity"
            >
              <ion-list class="tracker-locations-list">
                <ion-item
                  class="tracker-locations-list-items"
                  *ngFor="let locations of selectedTrackerData.locations; let index = index"
                >
                  <ion-avatar slot="start" *ngIf="locations.length !== 0">
                    <img
                      *ngIf="locations.length !== 0"
                      [src]="selectedTrackerData.tracker_icon_url"
                    />
                  </ion-avatar>
                  <ion-label
                    *ngIf="locations.length !== 0"
                    style="white-space: normal"
                  >
                    <div>
                      <strong>{{ selectedTrackerData.description }}</strong>
                    </div>
                    <div>
                      <span>{{ locations.timestamp | dateTras | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
                    </div>
                    <div>
                      <span> {{locations.formatted_address}} </span>
                    </div>
                    <p>{{ locations.latitude }}, {{ locations.longitude }}</p>
                    <span
                      (click)="viewInLiveTracking(selectedTrackerData, locations)"
                    >
                      <ion-button color="dark">
                        <fa-icon
                          class="tracker-sample-view"
                          icon="map-location-dot"
                          style="margin-right: 10px"
                        ></fa-icon>
                        Details
                      </ion-button>
                    </span>
                    <span
                      (click)="viewInCurrentMap(selectedTrackerData,locations, index)"
                    >
                      <ion-button color="dark">
                        <fa-icon
                          class="tracker-sample-view"
                          icon="wave-square"
                          style="margin-right: 10px"
                        ></fa-icon>
                        Route
                      </ion-button>
                    </span>
                  </ion-label>
                </ion-item>
                <p
                  *ngIf="selectedTrackerData.locations.length === 0"
                  style="text-align: center; font-size: 18px"
                ></p>
              </ion-list>
            </ion-row>
            <ng-template #noTrackers>
              <p>No tracker found for this filters.</p>
            </ng-template>
            <ng-template #noTrackerActivity>
              <p>No activity found for this tracker.</p>
            </ng-template>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </div>
  </ng-template>
  

</ion-content>
