#filter {
    font-size: 21px;
    padding-right: 0.5em;
}

h4 {
    text-align: center;
    width: 100%;
}

.alert-icon {
    width: 40px;
}

.alert-main-text {
    font-size: 18px;
}

.header-row .alert-main-text {
    width: 77%;
    font-weight: 600;
    color: black;
}



.alert-main-box {
    padding-right: 2px;
}

.alert-ellipses {
  
    float: right;
}

.ellipsis-icon {
    font-size: 20px;
}

.row-one-line {
     height: 50px;
    border-bottom: 1px solid lightgray;
}

.row-two-line {
    height: 75px;
}

// .alert-main-box ion-row {
//     border-bottom: 1px solid lightgray;
// }

.main-info {
    font-size: 16px;
    font-weight: 550;
}

.child-info{
    font-size: 14px;
}

.padding-top-5{
    padding-top: 5px;
}

.custom-owl-item {
    text-align: center !important;
    box-shadow: 2px 0 5px -2px 
}

.btn-row{
    width: 100%;
    margin-bottom: 5px;
}

.load-more-btn {
    margin: 0 auto 10px auto;
    text-align: center;
}

.text-cap {
    text-transform: capitalize;
}