<ion-header>
  <ion-toolbar>
    <ion-title>Alerts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons id="filter" slot="end" (click)="presentModal()">
      <ion-icon name="settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 5px">
    <owl-carousel
      #owlElement
      [options]="slideOptions"
      [carouselClasses]="['owl-theme', 'sliding']"
      *ngIf="alertsData?.length > 1"
    >
      <div
        class="item custom-owl-item"
        *ngFor="let activityTracker of alertsData; let index = index"
        (click)="changeSelectedTracker(index)"
      >
        <div style="align-content: center">
          <div>
            <img
              class="tracker-icon-view"
              [src]="activityTracker.tracker_icon_url"
              style="width: 20%; margin: 0 auto; max-width: 50px;"
            />
          </div>
          {{ activityTracker.tracker_name }}
        </div>
      </div>
    </owl-carousel>
  </ion-card>
  <ion-grid *ngIf="displayAlertData?.length > 0">
    <ion-card *ngFor="let alert of displayAlertData">
      <ion-card-content class="alert-main-box">
        <ion-row class="row-one-line header-row">
          <div class="alert-icon">
            <ion-avatar>
              <fa-icon
                *ngIf="alert.type === 'trip_start'"
                class="tracker-sample-view"
                icon="play-circle"
                style="margin-right: 10px"
              ></fa-icon>
              <fa-icon
                *ngIf="alert.type === 'trip_end'"
                class="tracker-sample-view"
                icon="pause-circle"
                style="margin-right: 10px"
              ></fa-icon>
              <fa-icon
                *ngIf="alert.type === 'low_battery'"
                class="tracker-sample-view"
                icon="battery-quarter"
                style="margin-right: 10px"
              ></fa-icon>
            </ion-avatar>
          </div>
          <div class="alert-main-text text-cap">
            {{alert?.type?.split("_")?.join(" ")}}
          </div>
          <!-- <div class="alert-ellipses">
            <fa-icon
              class="ellipsis-icon"
              icon="ellipsis"
              style="margin-right: 10px"
            ></fa-icon>
          </div> -->
        </ion-row>
        <ion-row class="row-one-line padding-top-5">
          <div class="alert-icon">
            <ion-avatar>
              <fa-icon
                class="tracker-sample-view"
                icon="circle-info"
                style="margin-right: 10px"
              ></fa-icon>
            </ion-avatar>
          </div>
          <div class="alert-main-text">
            <div class="main-info">{{alert.details}}</div>
            <div class="child-info">Details</div>
          </div>
          <!-- <div class="alert-ellipses">
           
          </div> -->
        </ion-row>
        <ion-row class="row-one-line padding-top-5">
          <div class="alert-icon">
            <ion-avatar>
              <fa-icon
                class="tracker-sample-view"
                icon="battery-quarter"
                style="margin-right: 10px"
              ></fa-icon>
            </ion-avatar>
          </div>
          <div class="alert-main-text">
            <div class="main-info">{{selectedTrackerData.tracker_name}}</div>
            <div class="child-info">Tracker</div>
          </div>
        </ion-row>
        <ion-row class="row-one-line padding-top-5">
          <div class="alert-icon">
            <ion-avatar>
              <fa-icon
                class="tracker-sample-view"
                icon="calendar-days"
                style="margin-right: 10px"
              ></fa-icon>
            </ion-avatar>
          </div>
          <div class="alert-main-text">
            <div class="main-info">{{alert.timestamp | dateTras | date: dateF}}</div>
            <div class="child-info">Date</div>
          </div>
        </ion-row>
        <ion-row class="row-one-line padding-top-5">
          <div class="alert-icon">
            <ion-avatar>
              <fa-icon
                class="tracker-sample-view"
                icon="clock"
                style="margin-right: 10px"
              ></fa-icon>
            </ion-avatar>
          </div>
          <div class="alert-main-text">
            <div class="main-info">{{alert.timestamp | dateTras | date: timeF}}</div>
            <div class="child-info">Time</div>
          </div>
        </ion-row>
        <ion-row class="row-two-line padding-top-5">
          <div class="alert-icon">
            <ion-avatar>
              <fa-icon
                class="tracker-sample-view"
                icon="location-dot"
                style="margin-right: 10px"
              ></fa-icon>
            </ion-avatar>
          </div>
          <div class="alert-main-text">
            <div class="main-info">{{alert?.address?.split(',')[0]}}</div>
            <div class="main-info">
              {{alert?.address?.split(',')[1]}} , {{
              alert?.address?.split(',')[2]}}
            </div>
            <div class="child-info">location</div>
          </div>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-button
        class="load-more-btn"
        color="dark"
        *ngIf="!isAllRecordLoaded"
        (click)="loadMoreData()"
      >
        Load more
      </ion-button>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="alertsData?.length > 0 && displayAlertData?.length === 0">
    <ion-row>
      <div style="margin: 0 auto">
        No alerts found for this tracker on this filter.
      </div>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!alertsData || alertsData.length === 0">
    <ion-row>
      <div style="margin: 0 auto">No Tracker found for this filter.</div>
    </ion-row>
  </ion-grid>
  <!-- <div> No alerts found for this tracker </div> -->
</ion-content>
