/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~bootstrap/dist/css/bootstrap.min.css';

.filter-modal{
    .modal-wrapper {
        position: absolute;
        bottom: 0;
        min-height: initial;
        top: initial;
        height: 90%;
    }
}

// .popover-content.sc-ion-popover-md {
//     top: 328px !important;
//     margin-top: 116%;
//     position: initial;
//     width: 362px;
//     top: 0px; 
//     left: 0px; 
//     right: 0px;
//     transform-origin: left top;
// }

.pop-over-style .popover-content {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    left: 0 !important;
    top: unset !important;
}


.padding-15 {
    padding: 15px;
}