.my-checkbox {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.title-checkbox{
    display: inline-block;
    text-align: left;
}

.check-box-label {
    vertical-align: super;
    margin-left: 15px;
}

.special-input:host {
    border-width: 0px !important;
}

.item-native {
    padding-inline-start: 0px !important;
}

.special-input .native-input.sc-ion-input-ios{
 padding-top: 0px !important;
 padding-bottom: 0px !important;
}

.heading-check-box-label {
    font-weight: bold;
}

.title-checkbox-label.sc-ion-label-ios-h {
    font-size: 19px;
    vertical-align: top;
}

.sc-ion-input-ios-h {
    --padding-top: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;
}

.recipients-div {
    margin: 10px 0px;
    border: 1px solid lightgray;
}

.recipients-count {
    border-bottom: 1px solid lightgray;
    padding: 5px 5px;
    text-align: left;
}