<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="preferences" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <div style="text-align: center">
      <span id="title" style="margin-right: 50px"><strong>Alerts and Notification</strong></span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Do not disturb
            <br />
            <p style="font-size: 10px">Snooze all alert notifications</p>
          </ion-label>
          <ion-checkbox slot="end" color="dark" [(ngModel)]="isChecked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <div class="title-checkbox">
          <ion-checkbox slot="start" color="dark" [(ngModel)]="response.disturb">
          </ion-checkbox>
          <ion-label text-uppercase class="check-box-label title-checkbox-label">Do not disturb</ion-label>
        </div>
        <hr />
        <div>
          Snooze all alert notifications.
        </div>
      </ion-card-subtitle>
    </ion-card-header>
 
  </ion-card>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <div class="title-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.speeding.availability">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label title-checkbox-label">Speeding</ion-label>
          </div>
          <hr />
          <div>
            Get a notification if your tracker exceeds the speed you set here.
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.speeding.mobile">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Mobile</ion-label>
          </div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.speeding.web">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Web</ion-label>
          </div>
        </div>
        <div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.speeding.text">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Message</ion-label>
          </div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.speeding.email">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Email</ion-label>
          </div>
        </div>
        <ion-row class="special-input">
          <ion-label>When speed exceeds</ion-label>
          <ion-input class="input" [(ngModel)]="response.speeding.limit"
            style="text-align: center; border-bottom: 1px solid; padding: 0px;"></ion-input> <span> MPH</span>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <div class="title-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.low_battery.status">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label title-checkbox-label">Low battery</ion-label>
          </div>
          <hr />
          <div>
            Get a notification if your tracker battery falls below the percentage you set here.
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.low_battery.mobile">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Mobile</ion-label>
          </div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.low_battery.web">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Web</ion-label>
          </div>
        </div>
        <div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.low_battery.text">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Message</ion-label>
          </div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.low_battery.email">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Email</ion-label>
          </div>
        </div>
        <ion-row class="special-input">
          <ion-label>When Battery falls below</ion-label>
          <ion-input class="input" [(ngModel)]="response.low_battery.limit"
            style="text-align: center; border-bottom: 1px solid; padding: 0px;"></ion-input> <span> %</span>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <div class="title-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.boundary_entry.status">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label title-checkbox-label">Boundary Entry</ion-label>
          </div>
          <hr />
          <div>
            Get a notification as soon as one of your trackers enters one of your boundaries.
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.boundary_entry.mobile">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Mobile</ion-label>
          </div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.boundary_entry.web">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Web</ion-label>
          </div>
        </div>
        <div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.boundary_entry.text">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Message</ion-label>
          </div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.boundary_entry.email">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Email</ion-label>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <div class="title-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.boundary_exit.status">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label title-checkbox-label">Boundary Exit</ion-label>
          </div>
          <hr />
          <div>
            Get a notification as soon as one of your trackers exits one of your boundaries.
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.boundary_exit.mobile">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Mobile</ion-label>
          </div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.boundary_exit.web">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Web</ion-label>
          </div>
        </div>
        <div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.boundary_exit.text">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Message</ion-label>
          </div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.boundary_exit.email">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Email</ion-label>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <div class="title-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.trip_start.status">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label title-checkbox-label">Trip in Progress</ion-label>
          </div>
          <hr />
          <div>
            Get a notification when a trip is in progres.
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.trip_start.mobile">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Mobile</ion-label>
          </div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.trip_start.web">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Web</ion-label>
          </div>
        </div>
        <div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.trip_start.text">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Message</ion-label>
          </div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.trip_start.email">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Email</ion-label>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <div class="title-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.trip_end.status">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label title-checkbox-label">Trip End</ion-label>
          </div>
          <hr />
          <div>
            Get a notification when your tracker has completed a trip
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.trip_end.mobile">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Mobile</ion-label>
          </div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.trip_end.web">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Web</ion-label>
          </div>
        </div>
        <div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.trip_end.text">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Message</ion-label>
          </div>
          <div class="my-checkbox">
            <ion-checkbox slot="start" color="dark" [(ngModel)]="response.trip_end.email">
            </ion-checkbox>
            <ion-label text-uppercase class="check-box-label">Email</ion-label>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <div class="title-checkbox">
            <ion-label text-uppercase class="check-box-label title-checkbox-label">Recipients</ion-label>
          </div>
          <hr />
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="recipients">
        <div style="display: grid;"> 
          <ion-button *ngIf="recipients.length <= 2" (click)="addRecipient()" style="float: right; padding: 0px 7px;">
            Add
          </ion-button>
        </div>
        <div *ngFor="let recipient of recipients; let index=index;">
          <div class="recipients-div">
            <div class="recipients-count">
              Contact {{index+1}}
              <span>
                <ion-buttons (click)="deleteRecipientApi(recipient, index)" id="pref" slot="end" style="float: right; padding: 0px 7px;">
                  <ion-icon name="trash"></ion-icon>
                </ion-buttons>
              </span>
              <span>
                <ion-buttons (click)="saveRecipient(index)" id="pref" slot="end" style="float: right; padding: 0px 7px;">
                  <ion-icon name="save"></ion-icon>
                </ion-buttons>
              </span>
            </div>
            <ion-item class="input-details">
              <ion-label position="floating"> Name</ion-label>
              <ion-input type="text" [(ngModel)]="recipient.name"></ion-input>
            </ion-item>
            <ion-item class="input-details">
              <ion-label position="floating">Phone Number</ion-label>
              <ion-input type="text" [(ngModel)]="recipient.phone"></ion-input>
            </ion-item>
            <ion-item class="input-details">
              <ion-label position="floating">Email </ion-label>
              <ion-input type="text" [(ngModel)]="recipient.email"></ion-input>
            </ion-item>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" color="dark" (click)="saveChange()">
      Save Changes
    </ion-button>
  </ion-toolbar>
</ion-footer>