<ion-header style="background-color: #fff">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="preferences"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <div style="text-align: center">
      <span id="title" style="margin-right: 50px"
        ><strong>Trackers</strong></span
      >
    </div>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen *ngIf="dataLoad">
  <div *ngIf="!userTrackers || userTrackers.length === 0" style="padding: 10px; text-align: center;">
    Please activate atlest one tracker.
  </div>
  <ion-radio-group allow-empty-selection mode="md">
    <div *ngIf="userTrackers?.length > 0">
      <ion-item *ngFor="let tracker of userTrackers">
        <ion-label *ngIf="tracker.tracker_icon"
          ><fa-icon
            class="tracker-sample-view"
            [icon]="tracker.tracker_icon"
            style="font-size: 15px; background-color: {{
              tracker.tracker_icon_color
            }}"
          ></fa-icon>
          {{ tracker.tracker_name }}</ion-label
        >
        <ion-label *ngIf="!tracker.tracker_icon">{{
          tracker.tracker_name
        }}</ion-label>
        <ion-radio
          slot="end"
          color="dark"
          (ionFocus)="selectTracker($event, tracker)"
        ></ion-radio>
      </ion-item>
    </div>
  </ion-radio-group>
  <ion-row>
    <ion-card style="width: 100%" *ngIf="selectedTracker != ''">
      <ion-card-header> Tracker Details </ion-card-header>
      <ion-card-content>
        <form style="width: 100%" [formGroup]="trackerForm">
          <ion-item class="input-details">
            <ion-label position="floating">Tracker Name</ion-label>
            <ion-input type="text" formControlName="trackerName"></ion-input>
          </ion-item>
          <ion-item class="input-details">
            <ion-label position="floating">Tracker Description</ion-label>
            <ion-input
              type="text"
              formControlName="trackerDescription"
            ></ion-input>
          </ion-item>
          <p style="padding-top: 2%">Select Tracker Icon</p>
          <ion-item class="input-details">
            <ion-segment value="white">
              <ion-grid>
                <ion-row>
                  <ion-segment-button
                    [value]="icon.icon"
                    *ngFor="let icon of iconClass; let i = index"
                    (click)="iconChange($event, icon.icon)"
                  >
                    <ion-label>
                      <fa-icon
                        [icon]="icon.icon"
                        style="font-size: 30px"
                      ></fa-icon>
                    </ion-label>
                  </ion-segment-button>
                </ion-row>
              </ion-grid>
            </ion-segment>
          </ion-item>
          <p style="padding-top: 2%">Select Icon Color</p>
          <ion-item class="input-details">
            <ion-segment value="white">
              <ion-grid>
                <ion-row>
                  <ion-segment-button
                    *ngFor="let colors of colorClass"
                    style="border-radius: 30px; background-color: {{
                      colors.color
                    }}"
                    (click)="colorChange($event, colors.color)"
                  >
                  </ion-segment-button>
                </ion-row>
              </ion-grid>
            </ion-segment>
          </ion-item>
        </form>
      </ion-card-content>
    </ion-card>
    <ion-card style="width: 100%" *ngIf="selectedTracker != ''">
      <ion-card-header> Sample Tracker View </ion-card-header>
      <ion-card-content class="center">
        <fa-icon
          class="tracker-sample-view"
          [icon]="selectedTrackerIcon"
          style="font-size: 50px; background-color: {{ selectedTrackerColor }}"
        ></fa-icon>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <!-- <ion-card class="ion-text-center" id="over_map" *ngIf="!activateTracker">
    <ion-card-header>
      <ion-card-title>Activate a Tracker</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Add a tracker to enjoy the full Spytrack GPS<br> experience.
      <br>
      <br>
      <ion-grid>
        <ion-row>
          <ion-col (click)="redirectActivate()">
            <p style="color: deepskyblue;
            font-weight: 800;">Purchase a tracker</p>
          </ion-col>
          <ion-col (click)="redirectActivate()">
            <p style="color: darkgreen;
            font-weight: 800;">Activate a tracker</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->
  <!-- Activation -->
  <!-- <ion-card class="ion-text-center" id="over_map" *ngIf="activateTracker">
    <ion-card-header>
      <ion-card-title>Activate a Tracker</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Add a tracker to enjoy the full Spytrack GPS<br> experience.
      <br>
      <br>
      <ion-grid>
        <ion-row>
          <form [formGroup]="activationForm" style="width: 100%;">
            <ion-item class="input-details">
              <ion-label position="floating">IMEI Number</ion-label>
              <ion-input type="text" formControlName="imei"></ion-input>
            </ion-item>
          </form>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [disabled]="!(userTrackers?.length > 0)" id="pref" slot="start" color="dark" (click)="resetForm()">
      Reset
    </ion-button>
    <ion-button [disabled]="!(userTrackers?.length > 0)" slot="end" color="dark" (click)="updateTrackerSetting()">
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>
