.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}
.tracker-sample-view {
    color: white;
    font-size: 50px;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em; 
}
