<ion-header>
  <ion-toolbar>
    <ion-title>Edit Recipient</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/preferences/recipient" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="width: 100%;">
  <ion-grid>
    <ion-row style="width: 100%;">
      <ion-card style="width: 100%;">
        <ion-card-content>
          <ion-row>
            <form [formGroup]="recipientEditForm" style="width: 100%;">
              <ion-item class="input-details">
                <ion-label position="stacked">Type</ion-label>
                <ion-select (ionChange)="handleChange($event)" formControlName="type">
                  <ion-select-option value="email">Email</ion-select-option>
                  <ion-select-option value="phone">Phone</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="input-details">
                <ion-label position="stacked">Value</ion-label>
                <ion-input formControlName="value"></ion-input>
              </ion-item>
            </form>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
   
    <ion-button slot="end" color="dark" [disabled]="!recipientEditForm.valid" (click)="updateRecipient()">
      Update Recipient
    </ion-button>
  </ion-toolbar>
</ion-footer>